* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

header nav ul li a:visited {
  color: black;
}

header nav ul li a:hover {
  color: #90a725;
}

header nav ul li a:active {
  color: black;
}

footer {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
}

footer nav ul li a:visited {
  color: white;
}

footer nav ul li a:hover {
  color: rgb(198, 212, 136);
}

footer nav ul li a:active {
  color: black;
}

main {
  margin-top: 10em;
}

main aside img {
  width: 20em;
  margin: 1em;
  border-radius: 0.15em;
  /* border: #90a725 solid 1px; */
  box-shadow: 0.15em 0.15em #90a725;
}

main aside img:hover {
  box-shadow: 0.25em 0.25em #90a725;
}

figure figcaption {
  display: none;
}

/* PORTRAIT PHONE SIZING */

@media screen and (max-width: 430px) and (orientation: portrait) {
  header {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px rgba(128, 128, 128, 0.153);
    background-color: whitesmoke;
  }
  .headTitle {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0 0.5em 0.5em;
  }
  header img {
    width: 13em;
    margin: 0 auto;
  }
  /* header h1 {
        line-height: 0.90em;
        font-weight: 400;
        text-align: left;
    } */
  /* header p {
        line-height: 0.90em;
        font-weight: 400;
        text-align: center;
    } */
  header nav {
    padding: 0.5em 0;
  }
  header ul {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  header ul li {
    padding: 0 0.5em;
  }
  header ul li a:link {
    text-decoration: none;
    color: black;
    font-weight: 200;
    text-transform: uppercase;
  }
  header ul li a:hover {
    font-weight: 200;
    color: #90a725;
  }

  body {
    background-color: white;
  }

  main {
    margin-top: 10em;
  }
  main section {
    padding: 1em;
  }
  main section h1 {
    font-size: 1.25em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
  }
  main section p {
    font-weight: 200;
    padding: 0.25em 0;
    text-align: justify;
  }
  main aside {
    display: none;
  }

  summary {
    width: 100%;
    padding: 0 1em 0.5em 1em;
  }
  summary h1 {
    font-size: 1.25em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
  }
  summary p {
    font-weight: 200;
    padding: 0.25em 0 0.75em 0;
    text-align: justify;
    font-size: 0.9em;
  }
  figure p a {
    text-decoration: underline;
    color: black;
  }

  footer {
    background-color: #90a725;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  footer ul {
    display: flex;
    list-style: none;
    padding: 0.05em;
    justify-content: center;
  }
  footer ul li {
    padding: 0 0.3em;
  }
  footer ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 200;
    font-size: 0.5em;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

/* LANDSCAPE PHONE SIZING */

@media screen and (min-width: 431px) and (max-width: 930px) and (orientation: landscape) {
  header {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px rgba(128, 128, 128, 0.153);
    background-color: whitesmoke;
  }
  .headTitle {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0 0.5em 0.5em;
  }
  header img {
    width: 13em;
    margin: 0 auto;
  }
  /* header h1 {
        line-height: 0.90em;
        font-weight: 400;
        text-align: left;
    } */
  /* header p {
        line-height: 0.90em;
        font-weight: 400;
        text-align: center;
    } */
  header nav {
    padding: 0.5em 0;
  }
  header ul {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  header ul li {
    padding: 0 0.5em;
  }
  header ul li a:link {
    text-decoration: none;
    color: black;
    font-weight: 200;
    text-transform: uppercase;
  }
  header ul li a:hover {
    font-weight: 200;
    color: #90a725;
  }

  body {
    background-color: white;
  }

  main {
    margin-top: 10em;
  }
  main section {
    padding: 3em;
  }
  main section h1 {
    font-size: 1.1em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
  }
  main section p {
    font-weight: 200;
    padding: 0.5em 0;
    text-align: justify;
  }
  main aside {
    display: none;
  }

  summary {
    width: 100%;
    padding: 0 3em 0.5em 3em;
  }
  summary h1 {
    font-size: 1.25em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
  }
  summary p {
    font-weight: 200;
    padding: 0.25em 0;
    text-align: justify;
  }

  footer {
    background-color: #90a725;
    display: flex;
    justify-content: space-between;
  }
  footer ul {
    display: flex;
    list-style: none;
    padding: 0.75em;
  }
  footer ul li {
    padding: 0 0.3em;
  }
  footer ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 200;
    font-size: 0.75em;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

/* LANDSCAPE TABLET SIZING */

@media screen and (min-width: 931px) and (max-width: 1080px) and (orientation: landscape) {
  header {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px rgba(128, 128, 128, 0.153);
    background-color: whitesmoke;
  }
  .headTitle {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0 0.5em 0.5em;
  }
  header img {
    width: 13em;
    margin: 0 auto;
  }
  /* header h1 {
        line-height: 0.90em;
        font-weight: 400;
        text-align: left;
    } */
  /* header p {
        line-height: 0.90em;
        font-weight: 400;
        text-align: center;
    } */
  header nav {
    padding: 0.5em 0;
  }
  header ul {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  header ul li {
    padding: 0 0.5em;
  }
  header ul li a:link {
    text-decoration: none;
    color: black;
    font-weight: 200;
    text-transform: uppercase;
  }
  header ul li a:hover {
    font-weight: 200;
    color: #90a725;
  }

  body {
    background-color: white;
  }

  main {
    display: flex;
    padding: 1.5em;
    margin-top: 10em;
  }

  main section {
    width: 50%;
  }
  main section h1 {
    font-size: 1.1em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
  }
  main section p {
    font-weight: 200;
    padding: 0.5em 0;
    text-align: justify;
  }
  main aside {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }

  summary {
    width: 100%;
    padding: 0 1em 0.5em 1em;
  }
  summary h1 {
    font-size: 1.25em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
  }
  summary p {
    font-weight: 200;
    padding: 0.25em 0;
    text-align: justify;
  }

  footer {
    background-color: #90a725;
    display: flex;
    justify-content: space-between;
  }
  footer ul {
    display: flex;
    list-style: none;
    padding: 0.75em;
  }
  footer ul li {
    padding: 0 0.3em;
  }
  footer ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 200;
    font-size: 0.75em;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

/* PORTRAIT TABLET SIZING */

@media screen and (min-width: 431px) and (max-width: 1080px) and (orientation: portrait) {
  header {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px rgba(128, 128, 128, 0.153);
    background-color: whitesmoke;
  }
  .headTitle {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0 0.5em 0.5em;
  }
  header img {
    width: 13em;
    margin: 0 auto;
  }
  /* header h1 {
          line-height: 0.90em;
          font-weight: 400;
          text-align: left;
      } */
  /* header p {
          line-height: 0.90em;
          font-weight: 400;
          text-align: center;
      } */
  header nav {
    padding: 0.5em 0;
  }
  header ul {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  header ul li {
    padding: 0 0.5em;
  }
  header ul li a:link {
    text-decoration: none;
    color: black;
    font-weight: 200;
    text-transform: uppercase;
  }
  header ul li a:hover {
    font-weight: 200;
    color: #90a725;
  }

  body {
    background-color: white;
  }

  main {
    display: flex;
    padding: 1.5em;
    margin-top: 10em;
  }

  main section {
    width: 50%;
  }
  main section h1 {
    font-size: 1.1em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
  }
  main section p {
    font-weight: 200;
    padding: 0.5em 0;
    text-align: justify;
  }
  main aside {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }

  summary {
    width: 100%;
    padding: 0 1em 0.5em 1em;
  }
  summary h1 {
    font-size: 1.25em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
  }
  summary p {
    font-weight: 200;
    padding: 0.25em 0;
    text-align: justify;
  }

  footer {
    background-color: #90a725;
    display: flex;
    justify-content: space-between;
  }
  footer ul {
    display: flex;
    list-style: none;
    padding: 0.75em;
  }
  footer ul li {
    padding: 0 0.3em;
  }
  footer ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 200;
    font-size: 0.75em;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

/* LAPTOP SIZING */

@media screen and (min-width: 1081px) and (max-width: 1730px) {
  header {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 8px rgba(128, 128, 128, 0.153);
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
  }
  .headTitle {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0 0.5em 0.5em;
  }
  header img {
    width: 13em;
    margin: 0 auto;
  }
  /* header h1 {
          line-height: 0.90em;
          font-weight: 400;
          text-align: left;
      } */
  /* header p {
          line-height: 0.90em;
          font-weight: 400;
          text-align: center;
      } */
  header nav {
    padding: 0.5em 0;
  }
  header ul {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  header ul li {
    padding: 0 0.5em;
  }
  header ul li a:link {
    text-decoration: none;
    color: black;
    font-weight: 200;
    text-transform: uppercase;
  }
  header ul li a:hover {
    font-weight: 200;
    color: #90a725;
  }

  body {
    background-color: white;
  }

  main {
    display: flex;
    padding: 0 3.5em;
    flex-direction: column;
  }

  main section {
    width: 100%;
  }
  main section h1 {
    font-size: 1.1em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
  }
  main section p {
    font-weight: 200;
    padding: 0.5em 0;
    text-align: justify;
  }
  main aside {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
  }

  summary {
    width: 100%;
    padding: 0 3.5em 0.5em 3.5em;
    margin: 0 0 1em 0;
  }
  summary #address {
    display: none;
  }
  summary h1 {
    font-size: 1.25em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.5em 0 1em 0;
  }
  summary p {
    font-weight: 200;
    padding: 0.25em 0;
    text-align: justify;
  }
  summary figure iframe {
    width: 25em;
    height: 25em;
    box-shadow: 0.15em 0.15em #90a725;
    border-radius: 0.15em;
  }

  summary figure {
    display: flex;
  }
  figure figcaption {
    display: block;
  }

  summary figure figcaption {
    padding: 0 0 0 1.5em;
  }
  summary figure figcaption h2 {
    font-size: 1.1em;
    color: #90a725;
    font-weight: 400;
    /* text-transform: uppercase; */
    margin: 0.25em 0 0 0;
  }
  summary figure figcaption p {
    font-weight: 200;
    padding: 0.25em 0 0.25em 0.5em;
    text-align: justify;
  }
  summary figure figcaption p a {
    color: black;
    text-decoration: none;
  }
  summary figure figcaption p a:hover {
    color: black;
    font-weight: 400;
    text-decoration: underline;
  }

  summary figure figcaption ul {
    width: 380px;
  }

  summary figure figcaption ul li {
    font-weight: 200;
    padding: 0.25em 0 0.25em 0.5em;
    text-align: justify;
    list-style: none;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  summary figure figcaption ul li span {
    margin-left: auto;
  }

  footer {
    background-color: #90a725;
    display: flex;
    justify-content: space-between;
    padding: 0 3.5em;
  }
  footer ul {
    display: flex;
    list-style: none;
    padding: 0.75em;
  }
  footer ul li {
    padding: 0 0.3em;
  }
  footer ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 200;
    font-size: 0.75em;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

/* ABOVE LAPTOP SIZE */

@media screen and (min-width: 1731px) {
  header {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 8px rgba(128, 128, 128, 0.153);
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    padding: 0 15em;
  }
  .headTitle {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0 0.5em 0.5em;
  }
  header img {
    width: 13em;
    margin: 0 auto;
  }
  /* header h1 {
            line-height: 0.90em;
            font-weight: 400;
            text-align: left;
        } */
  /* header p {
            line-height: 0.90em;
            font-weight: 400;
            text-align: center;
        } */
  header nav {
    padding: 0.5em 0;
  }
  header ul {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  header ul li {
    padding: 0 0.5em;
  }
  header ul li a:link {
    text-decoration: none;
    color: black;
    font-weight: 200;
    text-transform: uppercase;
  }
  header ul li a:hover {
    font-weight: 200;
    color: #90a725;
  }

  body {
    background-color: white;
  }

  main {
    display: flex;
    padding: 0 15em;
    flex-direction: column;
  }

  main section {
    width: 100%;
  }
  main section h1 {
    font-size: 1.1em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
  }
  main section p {
    font-weight: 200;
    padding: 0.5em 0;
    text-align: justify;
  }
  main aside {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
  }

  summary {
    width: 100%;
    padding: 0 15em 0.5em 15em;
    margin: 0 0 1em 0;
  }
  summary #address {
    display: none;
  }
  summary h1 {
    font-size: 1.25em;
    color: #90a725;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.5em 0 1em 0;
  }
  summary p {
    font-weight: 200;
    padding: 0.25em 0;
    text-align: justify;
  }
  summary figure iframe {
    width: 25em;
    height: 25em;
    box-shadow: 0.15em 0.15em #90a725;
    border-radius: 0.15em;
  }

  summary figure {
    display: flex;
  }
  figure figcaption {
    display: block;
  }

  summary figure figcaption {
    padding: 0 0 0 1.5em;
  }
  summary figure figcaption h2 {
    font-size: 1.1em;
    color: #90a725;
    font-weight: 400;
    /* text-transform: uppercase; */
    margin: 0.25em 0 0 0;
  }
  summary figure figcaption p {
    font-weight: 200;
    padding: 0.25em 0 0.25em 0.5em;
    text-align: justify;
  }
  summary figure figcaption p a {
    color: black;
    text-decoration: none;
  }
  summary figure figcaption p a:hover {
    color: black;
    font-weight: 400;
    text-decoration: underline;
  }

  summary figure figcaption ul {
    width: 380px;
  }

  summary figure figcaption ul li {
    font-weight: 200;
    padding: 0.25em 0 0.25em 0.5em;
    text-align: justify;
    list-style: none;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  summary figure figcaption ul li span {
    margin-left: auto;
  }

  footer {
    background-color: #90a725;
    display: flex;
    justify-content: space-between;
    padding: 0 15em;
  }
  footer ul {
    display: flex;
    list-style: none;
    padding: 0.75em;
  }
  footer ul li {
    padding: 0 0.3em;
  }
  footer ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 200;
    font-size: 0.75em;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}
